<!-- sidebar.component.html -->
<div class="sidebar" *ngIf="isLoggedIn">
  <ul class="sidebar-nav">
    <li class="sidebar-item" routerLinkActive="active">
      <a (click)="navigate('/projects')">Projects</a>
    </li>
    <li class="sidebar-item" routerLinkActive="active">
      <a (click)="navigate('/tasks')">Tasks</a>
    </li>
    <li class="sidebar-item" *ngIf="employeeRole === 'Admin'" routerLinkActive="active">
      <a (click)="navigate('/admin/employees')">Employees</a>
    </li>
  </ul>
</div>
