.unauthorized-container {
  height: 100vh;
  background: linear-gradient(135deg, #f8f9fa, #e3f2fd);
}

.card {
  max-width: 400px;
  background: white;
  border-radius: 20px;
}

.icon-wrapper {
  background: #ffe6e6;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

  .btn-primary:hover {
    transform: scale(1.05);
    background-color: #0d6efd;
  }
